<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
    </head>
    <body>
<link href="../css/register.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOJah6suUJXuGfPKDBjd2yOPbnWdjLRF7R3zxrFjet5M2sDDvAi8_50eAzJYwWfiiYBMs&usqp=CAU" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form th:action="@{/registerUser}" th:object="${user}" method="post">
      <input type="text" id="login" class="fadeIn second" th:field="*{nombre}" name="login" placeholder="User">
      <input type="text" id="password" class="fadeIn third" th:field="*{clave}" name="login" placeholder="Password">
      <input type="submit" class="fadeIn fourth" value="Register">
    </form>

  </div>
</div>

    </body>
</html>